.booking-cont {
  position: absolute;
  width: 100%;
  height: 100%;
}
.booking-card {
  position: sticky;
  position: -webkit-sticky;
  width: 300px;
  margin-bottom: 20px;
  height: 400px;
  top: 105px;
  float: right;
  border: 1px solid #228b22;
  padding: 4px 12px;
  border-radius: 8px;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.45);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width:1281px) {
    .booking-card {
        top: 135px;
        width: 400px;
    }
}
.input-div {
  width: 100%;
  position: relative;
}
.input-header {
  background-color: #fff;
  position: absolute;
  font-size: 8px;
  border-radius: 4px;
  top: -6px;
  left: 8px;
}
.input-field {
  width: 100%;
  padding: 4px 8px;
  font-size: 16px;
}
.book-btn {
  background-color: #fff;
  color: #228b22;
  border: 2px solid #228b22;
  width: 100%;
  transition: 250ms;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
  font-size: 20px;
}
.book-btn:hover {
  background-color: #f0f6f8;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.45);
}
.book-btn:active {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  background-color: #228b22;
  color: #fff;
}
