.header-container{
    height: 10vh;
    border-bottom: 1px solid #cecece;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-container{
    position: relative;
}
.login-icon{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    width: 80px;
    background-color: #fff;
    border: 1px solid #228b22;
    color:#228b22;
    font-size: 16px;
    border-radius: 25px;
    transition: 250ms;
    cursor: pointer;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}
.login-icon:hover{
    background-color: #d5f5d5;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.45);
}
.login-icon:active{
    background-color: #49796b;
    color: #fff;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.45);
}
.loginPop{
    position: absolute;
    z-index: 2;
    top: 45px;
    left: -20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #cecece;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);

}
.divider{
    height: 1px;
    background-color: #cecece;
}
.popItem{
    cursor: pointer;
    transition: 250ms;
    padding: 5px 30px;
    text-align: center;
}
.popItem:hover{
    background-color: #d5f5d5;
}
.popItem:active{
    background-color: #49796b;
    color: #fff;
}
.logo{
    z-index: -2;
    width: 190px;
    height: 60px;
}